<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brightflair.shell" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shell</name>
    <description>Deliver server-rendered web apps via a native app shell</description>
    <author email="shell@brightflair.com" href="https://www.brightflair.com">
        Bright Flair Ltd
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
